@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("background.jpg");
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/* dard mode looking scrollbar */

::-webkit-scrollbar {
    cursor:pointer;
    width: 5px;
    height: 5px;
    border-radius: 10px;
    background: #d3d3d3;
  }

::-webkit-scrollbar-track{
    cursor: pointer;
    background: bisque;
}

::-webkit-scrollbar-thumb{
    cursor: pointer;
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background: #555;
}
